trigger:
  branches:
    include:
      - none

pool: pipepool

variables:
  TF_DIR: $(System.DefaultWorkingDirectory)/Envoirnment/Dev
  TF_STATE: anoop-final.tfstate

stages:

# ================= STAGE 1 =================
- stage: validate
  displayName: Terraform Validate
  jobs:
  - job: validate
    displayName: fmt_and_validate
    steps:
    - task: TerraformInstaller@1
      displayName: Install Terraform
      inputs:
        terraformVersion: 'latest'

    - script: terraform init -backend=false
      displayName: Init (no backend)
      workingDirectory: $(TF_DIR)

    - script: terraform fmt -recursive
      displayName: Terraform fmt
      workingDirectory: $(TF_DIR)

    - script: terraform validate
      displayName: Terraform validate
      workingDirectory: $(TF_DIR)

# ================= STAGE 2 =================
- stage: plan
  displayName: Terraform Plan
  dependsOn: validate
  jobs:
  - job: plan
    displayName: terraform_plan
    steps:
    - task: TerraformTask@5
      displayName: Terraform init (backend)
      inputs:
        provider: azurerm
        command: init
        commandOptions: '-reconfigure'
        workingDirectory: $(TF_DIR)
        backendServiceArm: pipeline_new_infra
        backendAzureRmResourceGroupName: allIndiarg
        backendAzureRmStorageAccountName: allindiasa
        backendAzureRmContainerName: kuchbhicontainer
        backendAzureRmKey: $(TF_STATE)

    - task: TerraformTask@5
      displayName: Terraform plan (NO LOCK)
      inputs:
        provider: azurerm
        command: plan
        commandOptions: '-refresh=false -parallelism=5 -lock=false'
        workingDirectory: $(TF_DIR)
        environmentServiceNameAzureRM: pipeline_new_infra

# ================= STAGE 3 =================
- stage: approval
  displayName: Manual Approval
  dependsOn: plan
  jobs:
  - job: approval
    pool: server
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: anoopkushwaha509@gmail.com
        instructions: Approve Terraform Apply

# ================= STAGE 4 =================
- stage: apply
  displayName: Terraform Apply
  dependsOn: approval
  jobs:
  - job: apply
    displayName: terraform_apply
    steps:
    - task: TerraformTask@5
      displayName: Terraform init (backend)
      inputs:
        provider: azurerm
        command: init
        commandOptions: '-reconfigure'
        workingDirectory: $(TF_DIR)
        backendServiceArm: pipeline_new_infra
        backendAzureRmResourceGroupName: allIndiarg
        backendAzureRmStorageAccountName: allindiasa
        backendAzureRmContainerName: kuchbhicontainer
        backendAzureRmKey: $(TF_STATE)

    - task: TerraformTask@5
      displayName: Terraform apply
      inputs:
        provider: azurerm
        command: apply
        commandOptions: '-auto-approve'
        workingDirectory: $(TF_DIR)
        environmentServiceNameAzureRM: pipeline_new_infra
